<div>
	<form ng-submit="$parent.ctrl.submit(usuario); usuario= {};" name="CreateUserForm">
		<div class="form-group">
			<label for="InputText1" class="col-sm-12 control-label">Usuario</label>
			<div class="col-sm-3">
				<input type="text" placeholder="Ingrese Usuario" data-ng-model="usuario.userName" class="form-control" id="InputText1">
				<label ng-show="UserExist = null">El usuario ingresado ya exite!, elija otro.</label>
			</div>
		</div>
		<div class="form-group">
			<label for="InputPassword1" class="col-sm-12 control-label">Password</label>
			<div class="col-sm-3">
				<input type="password" data-ng-model="usuario.password" class="form-control" id="InputPassword1">
			</div>
		</div>
		<div class="form-group">
			<label for="InputText2" class="col-sm-12 control-label">Nombre</label>
			<div class="col-sm-3">
				<input type="text" placeholder="Ingrese Nombre" data-ng-model="usuario.firstName" class="form-control" id="InputText2">
			</div>
		</div>
		<div class="form-group">
			<label for="InputText3" class="col-sm-12 control-label">Apellido</label>
			<div class="col-sm-3">
				<input type="text" placeholder="Ingrese Apellido" data-ng-model="usuario.lastName" class="form-control" id="InputText3">
			</div>
		</div>
		<div class="form-group">
			<label for="InputEmail1" class="col-sm-12 control-label">Email</label>
			<div class="col-sm-3">
				<input type="email" placeholder="example@example.com" data-ng-model="usuario.email" class="form-control" class="form-control" id="InputEmail1">
			</div>
		</div>
		<div class="form-group">
			<label for="InputInteger1" class="col-sm-12 control-label">Edad</label>
			<div class="col-sm-3">
				<input type="number" placeholder="25" data-ng-model="usuario.edad" class="form-control" id="InputInteger1">
			</div>
		</div>
		<div class="col-sm-12">
			<input type="submit" value="Registrar" class="btn btn-default">
			<button type="reset" ng-click="$parent.ctrl.reset(usuario); usuario={};" class="btn btn-warning btn-sm">Borrar Campos</button>
		</div>
	</form>
</div>