<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">Listado de Usuarios</span></div>
    <div class="tablecontainer">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Edad</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in $parent.usuarios">
                    <td><span ng-bind="u.id"></span></td>
                    <td><span ng-bind="u.userName"></span></td>
                    <td><span ng-bind="u.firstName"></span></td>                    
                    <td><span ng-bind="u.lastName"></span></td>
                    <td><span ng-bind="u.email"></span></td>
                    <td><span ng-bind="u.edad"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>