<div>
	<form ng-submit="$parent.loginctrl.ingresar(usuario.userName, usuario.password); usuario.userName= null; usuario.password=null;" name="myForm">
		<div class="form-group">
			<h3>Ingresar</h3>
		</div>
		<div class="form-group">
			<label for="InputText1" class="col-sm-12 control-label">Usuario</label>
			<div class="col-sm-3">
				<input type="text" placeholder="Ingrese Usuario" data-ng-model="usuario.userName" class="form-control" id="InputText1">
			</div>
		</div>
		<div class="form-group">
			<label for="InputPassword1" class="col-sm-12 control-label">Password</label>
			<div class="col-sm-3">
				<input type="password" data-ng-model="usuario.password" class="form-control" id="InputPassword1">
			</div>
		</div>
		<div class="col-sm-12">
			<input type="submit" value="Ingresar" class="btn btn-default">
		</div>
		<div class="panel-heading">
		<span class="lead" ng-show="falloConexion = null">Usuario o Contraseņa incorrectos!.</span>
		</div>
	</form>
</div>